.low-usage {
  background: linear-gradient(rgb(26, 175, 224), lightblue);
}
.medium-usage {
  background: linear-gradient(red, orange);
}
.high-usage {
  background: linear-gradient(darkred, red);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: grid;
  grid-template:
    "up down reset"
    "power power power";
}

#toggle-power-saving {
  grid-area: power;
}

* {
  border: 0;
  padding: 0;
  color: white;
  font-weight: 100;
  font-family: 'SFAlien';
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

button, input {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  font-family: 'SFAlien';
  margin: 1em;
}

#temperature-wrapper {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 3em;
  line-height: 0.5;
}


@font-face {
  font-family: 'SFAlien';
  src:
    url('/fonts/SFAlienEncounters.ttf')
    format('truetype');
}

body {
  background: url(/images/grid.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}